services:
  postgres:
    image: postgres:15.2
    container_name: ecommerce-postgres
    networks:
      - network
    ports:
      - "5432:5432"
    volumes:
      - ecommerce-data:/var/lib/postgresql
      - ./docker/init-db.sql:/docker-entrypoint-initdb.d/01-init-db.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  network:
    driver: bridge

volumes:
  ecommerce-data:
    driver: local