services:
  postgres:
    image: postgres:15.2
    networks:
      - network
    ports:
      - "5432:5432"
    volumes:
      - ecommerce-data:/var/lib/postgresql
      - ./test/create-test-database.sh:/docker-entrypoint-initdb.d/create-test-database.sh
    env_file: .env.docker
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ecommerce"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.0
    ports:
      - 6379:6379
    networks:
      - network

networks:
  network:
    driver: bridge

volumes:
  ecommerce-data:
    driver: local