services:
  postgres:
    image: postgres:15.2
    networks:
      - network
    ports:
      - "5432:5432"
    volumes:
      - ecommerce-data:/var/lib/postgresql
    env_file: .env.docker


networks:
  network:
    driver: bridge

volumes:
  ecommerce-data:
    driver: local